<!-- <p>forget-password works!</p> -->
<!-- <p>login works!</p> -->
<div class="container">
    <!-- <h2>Card Header and Footer</h2> -->
    <div class="card mx-auto">
        <div class="card-header">
            <h1 class="text-center">
                    <img src="assets/image/logo.png"  width="42" height="42">Autoinspekt</h1>
       
        </div>
        <h3  class="text-left">Recovery Account</h3>
        <label>Enter your Email and instructions will be sent to you! </label>
        <div class="card-body">
           
            <div class="row">
                <div class="col form-group">
                    <input class="form-control" type="text" name="email" placeholder="email">
                </div>
            </div>

            <div class="row ">
                <div class="col form-group text-center">
                    <button class="btn btn-primary">Send Reset Link</button>
                </div>
            
            </div>
        </div>

    </div>
    <div class="row mt-4 ">
            <div class="col form-group text-center">
                <h6>
                    <a routerLink="/"><i class="fa fa-lock" aria-hidden="true"></i> &nbsp; Go To Login Page</a></h6>
            </div>
        </div>
</div>
