h5{
    color: blue;
}
.mobile-text-box {
    width:100% !important;
}
.amit{
    color: blue;
}




 .btn1 {
    position: absolute;
    top: 25%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(21, 83, 199);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  

